body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, "Lato", Calibri, sans-serif;
  background: #EDEFF0;
  color: #384047 !important; }

body div.content {
  font-size: 0;
  padding-top: 15px;
  width: 97.5%;
  margin: auto;
  max-width: 480px; }
  body div.content div {
    font-size: 16px; }
  body div.content div.row {
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0; }
  body div.content label {
    display: inline-block;
    margin-bottom: 20px; }
  body div.content #hue, body div.content #fun, body div.content #sat, body div.content #val, body div.content #ind {
    width: 90%;
    float: left;
    margin: 0;
    padding: 0; }
  body div.content input[type="number"] {
    height: 13px;
    width: 7.5%;
    margin: 0;
    padding: 0;
    float: right;
    display: inline; }
  body div.content div#base00, body div.content div#base01, body div.content div#base02, body div.content div#base03, body div.content div#base04, body div.content div#base05, body div.content div#base06, body div.content div#base07, body div.content div#base08, body div.content div#base09, body div.content div#base0A, body div.content div#base0B, body div.content div#base0C, body div.content div#base0D, body div.content div#base0E, body div.content div#base0F {
    height: 60px;
    width: 12.5%;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: orange;
    clear: both; }
  body div.content a.export {
    display: inline-block;
    font-size: 16px;
    height: 30px;
    width: 75px;
    padding: 0;
    margin-left: 15px;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 10px;
    background: orange;
    float: right;
    clear: both; }
  body div.content p {
    display: block;
    font-size: 16px; }
    body div.content p a {
      color: #384047; }
  body div.content div.preview {
    width: 100%;
    margin-top: 100px;
    padding: 0;
    background: white;
    border-radius: 5px;
    border: 1px solid #333; }
    body div.content div.preview div.preview-pop {
      width: 90%;
      max-width: 320px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 30px;
      padding: 0;
      border-radius: 5px;
      border: 1px solid #555; }
      body div.content div.preview div.preview-pop div.preview-header {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #555; }
        body div.content div.preview div.preview-pop div.preview-header div.preview-title {
          padding: 7px 10px; }
      body div.content div.preview div.preview-pop div.preview-content {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #555; }
        body div.content div.preview div.preview-pop div.preview-content div.preview-text {
          padding: 7px 10px; }
      body div.content div.preview div.preview-pop div.preview-footer {
        overflow: hidden; }
        body div.content div.preview div.preview-pop div.preview-footer button {
          float: right;
          margin: 5px;
          padding: 7px;
          border-radius: 3px; }
        body div.content div.preview div.preview-pop div.preview-footer button.preview-deny {
          border: 1px solid #aaa;
          color: #fff;
          background: #aaa; }
        body div.content div.preview div.preview-pop div.preview-footer button.preview-accept {
          border: 1px solid #aaa;
          color: #aaa;
          background: #fff; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #9A9A9A !important;
  height: 21px !important;
  width: 21px !important;
  border-radius: 11px !important;
  background-color: #E2E5E8 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(silver)) !important;
  background-image: -webkit-linear-gradient(top, whitesmoke, silver) !important;
  background-image: -moz-linear-gradient(top, whitesmoke, silver) !important;
  background-image: -o-linear-gradient(top, whitesmoke, silver) !important;
  background-image: -ms-linear-gradient(top, whitesmoke, silver) !important;
  background-image: linear-gradient(top, whitesmoke, silver) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#c0c0c0') !important; }

input[type="number"] {
  text-indent: 3px;
  border-radius: 2px;
  border: 1px solid #9A9A9A;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.fork_me {
  visibility: hidden; }

@media only screen and (min-width: 550px) {
  .fork_me {
    visibility: visible; } }
